<aside class="col-md-4">
    <section class="user_info">
        <h1>
            <%= gravatar_for @user %>
            <%= link_to @user.name, @user %>
        </h1>
        <p>
            <%= link_to "followers(#{@user.follower_users.count})", follower_path(@user.id) %>
            <br>
            <%= link_to "followings(#{@user.following_users.count})", following_path(@user.id) %>
        </p>
    </section>
</aside>