<div class="row">
    <%= render 'sidebar' %>
    <div class="col-md-8">
        <% if @favorites.any? %>
            <h3><%= t("dictionary.words.favorites") %>(<%= @favorites.length %>)</h3>
            <ol class="favorite microposts">
                <%= render @favorites %>
            </ol>
        <% end %>
    </div>
</div>
